body{
    background:url('../images/background.jpg') no-repeat center center fixed;
    
-moz-background-size: cover;

-webkit-background-size: cover;

-o-background-size: cover;

background-size: cover;
font-family: helvetica;
font-size: 110%;
    width:1280px;
    height:auto;
   
    margin:0 auto;
}

#menu img:hover{
    filter: alpha(opacity=50); /* internet explorer */
    opacity: 0.5; 
}
#container{
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:1300px;
	height:100%/* real browsers */
	//height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}
#header{
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    filter: alpha(opacity=50);
    width:1300px;
    position: absolute;
    
}
#content{
    background: rgba(255, 255, 255, 0.8);
    filter: alpha(opacity=50);
    
    padding-top: 150px;
    padding-left: 80px;
    font-weight: bolder;
    position: absolute;
    top:328;
    width:1280px;
    
    
   
}

#footer{
    //background: rgba(255, 255, 255, 0.8);
    //filter: alpha(opacity=950);
    
    width:1380;
    clear:both;
    padding-top: 200px;
}
#round1{
   float:left;

   
}
#round2{
    float:left;
    padding-left:50 
  
}
#round3{
    float:left;
    padding-left:50 ;
  
}
#final_list{
    float:left;
    padding-left: 80;
}
#winner{
    float: left;
    padding-left : 80;
}
.optionRed{background-color:#cc0000}
    //Menu           
ul.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu li{
    float: left;
}

ul.menu li a{
    display: block;
    padding: 3px 2px;
    text-decoration: none;
    
}

ul.menu li a:hover{
    filter: alpha(opacity=50); /* internet explorer */
    opacity: 0.5; 
 
}

ul.menu ul{
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    
    z-index: 100;
    list-style: none;
}

ul.menu ul li{
    position: relative;
    float: none;
}

ul.menu ul li a{
    color: #000;
    width: 200px;
    text-align: left;
}

ul.menu ul li a:hover{
    filter: alpha(opacity=50); /* internet explorer */
    opacity: 0.5; 
   
}

ul.menu ul li ul{
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
    z-index: 200;
    list-style: none;
}

ul.menu ul li ul li{
    list-style-type: none;
    position: relative;
}